@{
    ViewData["Title"] = "Home Page";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>

<div class="ats-best-body">
    <div id="loadingContainer">
        <div class="progress-container">
            <div id="progressBar" class="progress-bar"></div>
        </div>
        <div id="progressPercentage" class="percentage">0%</div>
        <div id="loadingText">Starting process...</div>
    </div>

    <div class="user-workspace bordered">
        
        <div class="job-description-section">
            <!-- Big text box input area for user to write inside -->
            <textarea id="job-description-1" class="job-description-input" placeholder="Paste job description here..."></textarea>
        </div>

        <div class="cv-input" id="drop-zone">
            <input type="file" id="file-input" accept="application/pdf" class="cv-upload-input" multiple />
            <strong>Drop PDF files here or click to upload</strong>
            <p>Only PDF files are accepted</p>        
        </div>

    </div>

    <div class="ranked-result bordered">
        <div id="loadingText">Waiting...</div>
        <table class="table" id="resultsTable">
            <thead>

                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>% Match</th>
                </tr>

            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <div id="infoPanel" class="info-panel hidden">
        <button id="closePanel">&times;</button>
        <div id="panelContent"></div>
    </div>

</div>